GDS.Mades.DataService.Client/Connected Services/MadesDataService/MadesDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MadesDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14054/MadesDataService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14054/MadesDataService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14054/MadesDataService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/GDS.Mades.Data.Core.Storeable" />
      <xsd:import schemaLocation="http://localhost:14054/MadesDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMadesDataService_CreateStore_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStore" />
  </wsdl:message>
  <wsdl:message name="IMadesDataService_CreateStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IMadesDataService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMadesDataService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMadesDataService_StoreData_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreData" />
  </wsdl:message>
  <wsdl:message name="IMadesDataService_StoreData_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMadesDataService_StoreMultipleData_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreMultipleData" />
  </wsdl:message>
  <wsdl:message name="IMadesDataService_StoreMultipleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreMultipleDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMadesDataService">
    <wsdl:operation name="CreateStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IMadesDataService/CreateStore" message="tns:IMadesDataService_CreateStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMadesDataService/CreateStoreResponse" message="tns:IMadesDataService_CreateStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMadesDataService/GetData" message="tns:IMadesDataService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMadesDataService/GetDataResponse" message="tns:IMadesDataService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMadesDataService/StoreData" message="tns:IMadesDataService_StoreData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMadesDataService/StoreDataResponse" message="tns:IMadesDataService_StoreData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreMultipleData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMadesDataService/StoreMultipleData" message="tns:IMadesDataService_StoreMultipleData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMadesDataService/StoreMultipleDataResponse" message="tns:IMadesDataService_StoreMultipleData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMadesDataService" type="tns:IMadesDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateStore">
      <soap:operation soapAction="http://tempuri.org/IMadesDataService/CreateStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMadesDataService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreData">
      <soap:operation soapAction="http://tempuri.org/IMadesDataService/StoreData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreMultipleData">
      <soap:operation soapAction="http://tempuri.org/IMadesDataService/StoreMultipleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MadesDataService">
    <wsdl:port name="BasicHttpBinding_IMadesDataService" binding="tns:BasicHttpBinding_IMadesDataService">
      <soap:address location="http://localhost:14054/MadesDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>