GDS.Mades.DataService.Client/Connected Services/MadesDataService/MadesDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GDS.Mades.Data.Core.Storeable" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GDS.Mades.Data.Core.Storeable" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JsonStoreable">
    <xs:sequence>
      <xs:element minOccurs="0" name="IndexType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Json" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoringId" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonStoreable" nillable="true" type="tns:JsonStoreable" />
  <xs:complexType name="ArrayOfJsonStoreable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonStoreable" nillable="true" type="tns:JsonStoreable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonStoreable" nillable="true" type="tns:ArrayOfJsonStoreable" />
</xs:schema>